.full-recipe-grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "recipe-title           recipe-title"
    "recipe-img             recipe-img"
    "recipe-ingredients     recipe-method";
}

.recipe-title {
    grid-area: recipe-title;
}

.recipe-img {
    grid-area: recipe-img;
}

.recipe-ingredients {
    grid-area: recipe-ingredients;
}

.recipe-method {
    grid-area: recipe-method;
}