.current-day {
    border-bottom: 2px solid #879a39;
}

.article-recipe {
    visibility: hidden;
    opacity: 0;
    transition: all ease 200ms;
    height: 0;
    transform: translateY(-50vh);
}

.active-day .article-recipe {
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 200ms;
    height: auto;
    transform: translateY(0);
}



