.current-day {
    border-bottom: 2px solid var(--color-secondary);
}

.sidenav-open .recipe-sidenav {
    transform: translateX(0px);
}

.recipe-sidenav {
    transition: transform 200ms cubic-bezier(.5, 0, .5, 1);
}

.article-recipe {
    display: none;
    opacity: 0;
    transition: height 200ms ease;
}

.active-day .article-recipe {
    display: block;
    opacity: 1;
    transition: all ease-in-out 600ms;
    transform: translateY(0);
    transition: height 200ms ease;
}