.checkbox, .day-checkbox {
    width: .8rem;
    height: .8rem;
    border: solid 1px var(--color-dark);
    border-radius: 3px;
    /* transform: scale(0); */
}

.day-checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 5px;
}

@media(min-width: 768px) {
    .checkbox {
        width: .9rem;
        height: .9rem;
    }
}

.checkmark, .day-checkmark {
    display:block;
}

.selected-ingredient .checkbox {
    border-color: gray;
    transform-origin: bottom left;
    background-color: gray;
}

.selected-day .day-checkbox {
    border-color: var(--color-primary);
    background-color: var(--color-white)
}

.selected-ingredient .checkmark,
.selected-day .day-checkmark {
    width: 75%;
    height: 75%;
    background-color: var(--color-white);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.selected-day .day-checkmark {
    background-color: var(--color-primary);
}

.selected-day .week-day {
    opacity: 1;
    color: var(--color-primary)
}


.selected-day .recipe-title {
    opacity: 1;
    color: var(--color-primary)
}
