:root {
  --color-primary: rgb(36, 131, 123);
  --color-secondary: rgb(218, 112, 44);
  --color-white: #fffcfb;
  --color-dark: rgb(54, 54, 51);
  --color-darker: rgb(16, 15, 15);
}


* {
  box-sizing: border-box;
}

